
Nav{
    background-color: #2f0731a8;
    
  }
Container{
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: #2f0731a8;
  
}

.element_style {
  width: 300px;
}

